<div id="header-container">
    <div id="header">
        <header>
            <div class="logo">
                <a class="item-menu" href="index.html">
                    <img src="assets/stp-logo.png" alt="STP">
                </a>
            </div>
            <nav>
                <a class="item-menu" href="pacientes.html" id="menu-pacientes">
                    <img src="assets/paciente.svg" alt="Pacientes">
                    Pacientes
                </a>
                <a class="item-menu" href="transferencias.html" id="menu-transferencias">
                    <img src="assets/ambulancia.svg" alt="Transferências">
                    Transferências
                </a>
                <a class="item-menu" href="hospitais.html" id="menu-hospitais">
                    <img src="assets/hospital.svg" alt="Hospitais">
                    Hospitais
                </a>
                <a class="item-menu" href="usuarios.html" id="menu-usuarios">
                    <img src="assets/usuarios.svg" alt="Usuários">
                    Usuários
                </a>
            </nav>
            <div class="user-options">
                <img src="assets/sino.svg" alt="Notificações">
                <img src="assets/usuario.svg" alt="Usuário">
                <img src="assets/logout.svg" onclick="logout()" alt="Sair">
            </div>
        </header>
    </div>
</div>
